body{
    background-color:blanchedalmond;
}
.container-art{
        background-color: rgb(80, 80, 80);
        padding: 4%; /* 60px/1500 */
        border-radius: 25px;
    }

.display-art{
    border-radius: 10px;
    background-color: rgba(150, 150, 150, 1);
    border-color: rgb(117, 117, 117);
    height: 90px; 
}
.buttons-art{
    background-color: rgb(80, 80, 80);
}
.keys-art{
    border-radius: 8px;
    background-color: gray;
    box-shadow: -8px -8px 6px rgba(0, 0, 0, 0.2);
}
.resetkey{
    background-color: rgb(204, 203, 203);
    border-radius: 10px;
}